.container {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-container {
  margin: 0;
  margin-top: 2rem;
  margin-bottom: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

* {
  user-select: none;
  letter-spacing: 1.2px;
  font-weight: 400;
  box-sizing: border-box;
}


form {
  background-color: rgba(0, 0, 0, .65);
  text-align: center;
  padding: 1rem 1rem;
  border-radius: 10px;
}
.form input {
  font-size: large;
  width: 175px;
  background-color: transparent;
  caret-color: #cacaca;
  color: #fff;
  padding: 5px 10px;
  letter-spacing: 1.25px;
  border: none;
  border-bottom: 2px solid#0984e3;
  outline: none;
  transition: ease-in-out .5s;
}
.form input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #a0a0a0;
  font-weight: 400;
  opacity: 1; /* Firefox */
}

.form input:hover {
  border-bottom: 2px solid #9c88ff;
}
.form input:focus {
  border-bottom: 2px solid #9c88ff;
}
.form button {
  font-size: 1rem;
  padding: 7.75px 18px;
  border: none;
  margin-left: 5px;
  /* border-radius: 50%; */
  outline: none;
  background-color: #0984e3;
  color: #a9d8fc;
  cursor: pointer;
  transition: ease-in-out .5s;
}
.form button:hover {
  background-color: #9c88ff;
  color: #302374;
}




.box {
  padding: 20px;
  background: rgba(0, 0, 0, .65);
  color: #f4f4f4;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  border-radius: 10px;
}


.dashboard h1 {
  font-size: 2rem;
  margin: 0;
  text-align: center;
}

.refresh {
  font-size: .9rem;
  margin-top: 1rem;
  text-align: center;
  vertical-align: middle;
  line-height: 2rem;  
  
}
.refresh h6 {
  display: inline;
  font-size: .9rem;
  letter-spacing: .6px;
}

.refreshIcon {
  cursor: pointer;
}

.rotate {
  animation: spin 1s linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.visual-description {
  display: flex;
  justify-content: center;
  margin: 0;
}

.visual-description img {
  width: 50px;
  margin-right: 10px;
}


.temp {
  display: flex;
  justify-content: center;
}
.temp h1 {
  margin: 0;
  font-size: 4rem;
  margin-right: 10px;
}
.temp .c-or-f {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 15px;
  margin-bottom: 15px;
}

.temp .c-or-f span {
  font-size: 1.4rem;
  font-weight: bolder;
}

.c-or-f .down {
  color: #797979;
  cursor: pointer;
}

.minmax {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}

.high, .low {
  font-weight: bolder;
}

.arrow {
  margin-right: 10px;
}

.main_view {
  width: 90%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}


.otherDetails {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
}
.otherDetails li {
  display: flex;
  justify-content: space-between;
  border-bottom: .3px solid #818181;
  padding-top: 8px;
  padding-bottom: 8px;
}

#weather {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#weather .property {
  font-size: 1.4rem;
}
#weather .value {
  padding-top: .3rem;
  /* font-size: 1rem; */
  text-transform: capitalize;
}



/* wind compass */
.compass {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
  position: relative;
  color: rgb(49, 49, 49);
  text-shadow: 1px 1px 1px white;
}
.compass:before {
  font-weight: bold;
  position: absolute;
  text-align: center;
  width: 100%;
  content: "N";
  font-size: 14px;
  top: -2px;
}
.compass .direction {
  height: 100%;
  width: 100%;
  display: block;
  background: #f2f6f5;
  background: -moz-linear-gradient(top, #f2f6f5 0%, #cbd5d6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f6f5), color-stop(100%, #cbd5d6));
  background: -webkit-linear-gradient(top, #f2f6f5 0%, #cbd5d6 100%);
  background: -o-linear-gradient(top, #f2f6f5 0%, #cbd5d6 100%);
  border-radius: 100%;
}
.compass .direction p {
  text-align: center;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 80px;
  display: block;
  margin-top: -45px;
  font-size: 24px;
  font-weight: bold;
}
.compass .direction p span {
  display: block;
  line-height: normal;
  margin-top: -26px;
  font-size: 12px;
  font-weight: normal;
}
.compass .arrow {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  margin: 0;
  top: 0;
}
.compass .arrow:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid red;
  position: absolute;
  top: -1px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

/* wind compass end */



.windDetails h2{
  margin-top: 0;
}

.width-80 {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.sun {
  display: flex;
  justify-content: center;
}

.sun img {
  width: 50px;
}

.sunrise, .sunset {
  text-align: center;
}


@media only screen and (max-width: 758px) {
  .main_view {
    flex-direction: column;
    align-items: center;
  }

  .wrapper {
    height: auto !important;
  }
  
}